/* reset */

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", "Noto Serif TC", sans-serif, serif;
    background-color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* CSS */

header {
    height: 56px;
    background-color: #0c3141;

    padding: 0 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #navbar {
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            align-items: stretch;
            li {
                position: relative;
                margin: 0 20px;

                display: flex;
                align-items: center;
                justify-content: center;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }

                // 動畫
                vertical-align: middle;
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background: #ffffff;
                    transform: scaleX(0);
                    transform-origin: right top;
                    transition: transform 0.1s;
                    opacity: 0.3;
                }
                &:hover:before,
                &:focus:before,
                &:active:before {
                    transform-origin: left top;
                    transform: scale(1);
                }

                a {
                    font-size: 16px;
                    font-weight: normal;
                    color: #ffffff;
                    letter-spacing: 1px;
                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;

                        top: 0;
                        left: 0;
                    }
                    &:hover {
                        opacity: 0.7;
                        transition: transform 0.1s;
                    }
                }
            }
        }
    }
}
