/* reset */

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif TC", "Noto Sans TC", serif, sans-serif;
    background-color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
    line-height: 88px;
    margin: 0;
}

h2{
    font-size: 56px;
    line-height: 64px;
    margin: 0;
}

h3{
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

h4{
    font-size: 28px;
    line-height: 36px;
    margin: 0;
}

h5{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

h6{
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

p{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    margin: 0;
}

/* 宣告 */

$header-hight: 64px;

// 親密性
$space-medium: 30px;
$space-small: 15px;
$space-large: 65px;
$space-X-large: 160px;

/* CSS */

header {
    height: $header-hight;

    .wapper {
        height: $header-hight;
        width: 100%;
        min-width: 1280px;

        padding: 0 150px;

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0c3141;

        nav {
            height: 100%;

            ul {
                height: 100%;
                display: flex;
                align-items: stretch;

                li {
                    position: relative;
                    margin: 0 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    /* 動畫 */
                    vertical-align: middle;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background: #ffffff;
                        transform: scaleX(0);
                        transform-origin: right top;
                        transition: 0.1s;
                        opacity: 0.3;
                    }

                    &:hover:before,
                    &:focus:before,
                    &:active:before {
                        transform-origin: left top;
                        transform: scale(1);
                    }

                    a {
                        font-size: 16px;
                        font-weight: normal;
                        color: #ffffff;
                        letter-spacing: 1px;

                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;

                            top: 0;
                            left: 0;
                        }

                        &:hover {
                            opacity: 0.7;
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
    }
}

main {
    height: calc(100vh - #{$header-hight});

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            position: relative;
            width: 100%;
            height: 100%;
            .container {
                width: 600px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);

                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;
                &:hover .wapper h2 {
                    letter-spacing: 35px;
                    padding-left: 35px;
                }
                &:hover .wapper h5 {
                    padding-left: 35px;
                }
                &:hover p:before {
                    transform-origin: left top;
                    transform: scale(1);
                }
                &:hover + .sixAngle .background {
                    transform: scale(1.1, 1.1);
                    // transform: scale(1.25, 1.25);
                }
                &:hover ~ .banner .background {
                    transform: scale(1.1, 1.1);
                    // transform: scale(1.25, 1.25);
                }
                .wapper{
                    h5{
                        color: #ffffff;
                        letter-spacing: 8px;
                        padding-left: 32px;
                        transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                        padding-bottom: $space-small;
                    }
    
                    h2 {
                        color: #ffffff;
                        letter-spacing: 24px;
                        padding-left: 24px;
                        padding-bottom: $space-large;
    
                        transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                        margin: 8px 0;
                    }
    
                }
                
                p {
                    color: #ffffff;
                    letter-spacing: 6px;
                    padding-left: 6px;

                    // 動畫
                    vertical-align: middle;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: -7px;
                        left: 0;
                        background: #ffffff;
                        transform: scaleX(0);
                        transform-origin: right top;
                        transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                        opacity: 0.3;
                    }
                }
            }
            .sixAngle {
                clip-path: url(#slideMask);
                position: absolute;
                width: 520px;
                height: 600px;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);

                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                .background {
                    width: 100vw;
                    height: calc(100vh - #{$header-hight});
                    filter: brightness(1.1);
                    background-image: url("https://placem.at/place?w=1920&h=1080&txt=0");
                    background-position: center;
                    transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                    transform: scale(1.2, 1.2);
                    // transform: scale(1.5, 1.5);
                }
            }
            .banner {
                width: 100%;
                height: 100%;
                overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;
                .background {
                    background-image: url("https://placem.at/place?w=1920&h=1080&txt=0");
                    background-position: center;
                    width: 100vw;
                    height: calc(100vh - #{$header-hight});
                    transform: scale(1, 1);
                    transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                }
            }
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #000;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
        }

        .swiper-pagination-bullet-active {
            color: #fff;
            background: #007aff;
        }
    }
}
